@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Playwrite+DK+Uloopet+Guides&family=Roboto+Slab:wght@100..900&family=Sanchez:ital@0;1&display=swap');
@import "tailwindcss";

.nithish-regular {
  font-family: "Playwrite DK Uloopet Guides", serif;
  font-weight: 400;
  font-style: normal;
}